<br><br>
<h1>Agregar un nuevo anime</h1>
<% @anime.errors.full_messages.each do |error| %>
  <div class="alert alert-danger">
    <h3><%= error %></h3>
  </div>
<% end %>
<%= form_for :anime, url: animes_path do |f| %>
  <%= render "form", f: f %>
<% end %>